*{

    box-sizing: border-box;
    
}

html{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

body{
    margin: 0;
}

header{   
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 8px;
}


ul{
    list-style: none;
    display: flex;
    gap: 16px;
}
 a{
    text-decoration: none;
}

.hero-image{
    width: 500px;
}
.img-project{
    width: 200px;
    border-radius: 4px;
}

.about-me{
    
    background-color: #1f2937;
    margin-top: none;
    padding: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    
}

.about-info{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start;

}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

/* Containers */
.img-container{
    max-width: 500px;
    min-height: 35vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex: 1;
 }

 .DG-container, .nav-bar{
    display: flex;
    align-items: center;
    padding: 8px;
}



.banner-container{
    background-color: #1f2937;
}

.projects-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 36px;
    gap: 80px;
}

.project-container{
    
    max-width: 200px;
    
}
.projects-section{
    display: flex;
    flex-direction: column;
    
}
.quote-section{
    border: 1px solid green;
    background-color: #e5e7eb;
}

.project-title{
    text-align: center;
}


/* Styles */

.bold{
    font-weight: 700;
    color: #f9faf8;
    
}

.main-text{
    font-size: 48px;
}

.second-text{
    font-size: 18px;
    color: #e5e7eb;
}

.btn-color{
    background-color: #3882f6;
    color: #e5e7eb;;
}

.btn-signup{
    border-radius: 4px;
    border-style: none ;
    padding: 8px;
    width: 100px;
}
