*{
    
}

html{
    font-family: 'Roboto', sans-serif
}

header{

    border: 2px solid red;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.DG-container{
    display: flex;

}

ul{
    list-style: none;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    
}



nav{
    border: 1px solid green;
}