*{

    box-sizing: border-box;
    
}

html{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

body{
    margin: 0;
}

header{   
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 8px;
    position: fixed;
    width: 100%;
    z-index: 9;
    

}


ul{
    list-style: none;
    display: flex;
    gap: 16px;
}
 a{
    text-decoration: none;
}

.hero-image{
    width: 500px;
}
.img-project{
    width: 200px;
    border-radius: 4px;
}

.about-me{
    
    background-color: rgba(0,0,0,0.5);
    
    margin-top: none;
    padding: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex: 1;
    max-width: 75vw;
    max-height: 75vh;
    box-shadow: 0 0 2em rgb(69, 69, 69);;
    

    
}

.about-info{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start;

}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

/* Containers */
.img-container{
    max-width: 500px;
    min-height: 35vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex: 1;
 }

 .DG-container, .nav-bar{
    display: flex;
    align-items: center;
    padding: 8px;
}



.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/heroimg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    
    
   
    
}

.projects-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    min-height: 100%;
    padding: 80px;
}

.project-container{
    
    max-width: 200px;
    
}

.media-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.projects-section{
    display: flex;
    flex-direction: column;
    
}
.quote-section{
    
    background-color: #e5e7eb;
    min-height: 100%;
    padding: 80px;
    
}

.project-title{
    text-align: center;
}


/* Styles */

.bold{
    font-weight: 700;
    color: #f9faf8;
    
}

.main-text{
    font-size: 48px;
}

.second-text{
    font-size: 18px;
    color: #e5e7eb;
}

.btn-color{
    background-color: #3882f6;
    color: #e5e7eb;;
}

.btn-signup{
    border-radius: 4px;
    border-style: none ;
    padding: 8px;
    width: 100px;
}

.ig-logo, .twitch-logo{
    width: 50px;
    height: 50px;
}

.logos{
    display: flex;
    justify-content: center;
    gap: 56px;
}
